In [1]:
import os
os.environ["TRINO_USER"] = "admin"

from feast import FeatureStore

In [2]:
store = FeatureStore(repo_path=".")

station_feature = store.list_feature_views()[0]
print(station_feature.features)

[num_trip-Int64, avg_duration_mins-Float64, std_duration_mins-Float64, mode_subscriber_type-String]

In [5]:
features = store.get_historical_features(
    entity_df="SELECT * FROM iceberg.feast.entity",
    features=[
        "station_feat_30d:num_trip",
        "station_feat_30d:avg_duration_mins",
        "station_feat_30d:std_duration_mins",
        "station_feat_30d:mode_subscriber_type",
    ],
).to_df()

In [6]:
features.head()

,start_station_id,event_timestamp,num_trip,avg_duration_mins,std_duration_mins,mode_subscriber_type
0,2501,2023-03-25 13:15:00,269,22.724907,36.928412,Local31
1,7125,2023-03-25 16:20:00,668,14.961078,40.678964,Student Membership
2,2542,2023-03-25 14:45:00,332,44.240964,181.481939,Local31
3,2503,2023-03-25 10:00:00,121,38.776860,126.896972,Explorer
4,4061,2023-03-25 11:30:00,444,40.405405,69.204102,Pay-as-you-ride